<!DOCTYPE html>
<html>
  <%- include('includes/head') %>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- The header is the topbar -->
      <%- include('includes/header') %>

      <!-- The sidebar includes the menu -->
      <%- include('includes/sidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Privacy Policy</h1>
          <ol class="breadcrumb">
            <li class="active">
              <a href="/"><i class="fa fa-roz"></i>Privacy Policy</a>
            </li>
          </ol>
        </section>

        <!-- Main content -->

        <section class="content">
         <p>The use of this application ("Superbot") in a server requires the collection of some specific user data. The Data collected includes, but is not limited to Discord user ID values. Use of the Bot is considered an agreement to the terms of this Policy.</p>
          <h3>
            Access to Data
          </h3>
          <p>
            Access to Data is only permitted to Bot's developers, and only in the scope required for the development, testing, and implementation of features for Bot. Data is not sold, provided to, or shared with any third party, except where required by law or a Terms of Service agreement. You can view the data upon request from RiZ#9993.
          </p>
          <h3>
            Storage of Data
          </h3>
          <p>
            Data is stored in a MongoDB database. The database is secured to prevent external access, however no guarantee is provided and the Bot owners assume no liability for the unintentional or malicious breach of Data. In the event of an unauthorised Data access, users will be notified through the Discord client application.
          </p>
          <h3>
            User Rights
          </h3>
          <p>
          At any time, you have the right to request to view the Data pertaining to your Discord account. You may submit a request through the <a href="https://discord.gg/pfvCYHmd">discord server</a>. You have the right to request the removal of relevant Data.
        </p>
        <h3>
          Underage Users
        </h3>
        <p>
          The use of the Bot is not permitted for minors under the age of 13, or under the age of legal consent for their country. This is in compliance with the <a href="https://discord.com/terms">Discord Terms Of Service</a>. No information will be knowingly stored from an underage user. If it is found out that a user is underage we will take all necessary action to delete the stored data.
        </p>
        <h3>
          Questions      
        </h3>
        <p>
          If you have any questions or are concerned about what data might be being stored from your account contact RiZ#9993. For more information check the <a href="https://discord.com/terms">Discord Terms Of Service</a>.
        </p>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <%- include('includes/footer') -%>
    </div>
    <!-- ./wrapper -->
  </body>
</html>
